# 📦 Server Port
PORT=5001

# 🗄️ Database
# Format: mongodb+srv://<user>:<password>@cluster.mongodb.net/dbname
MONGODB_URI=your_mongodb_connection_string_here

# 🔑 Auth Security
# Use a long random string for production
JWT_SECRET=your_jwt_secret_here

# 🌐 Frontend Access (CORS)
# Multiple URLs separation by comma
FRONTEND_URL=http://localhost:5173,https://your-deployed-frontend.com
